<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Cab Monitor</title>


		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	</head>

	<body>
		<div class="container hide">
			<div class="row">
				<div class="col-md-12">
					<div class="error-template">
						<h1>
							Oops!
						</h1>
						<h2>
							Toute les zones ont déjà été attribuées ...
						</h2>
						<div class="error-details">
							Sorry, bro :D
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="myCanvas">
		</div>
		<h1 id="areaName"></h1><h3 id="lastNotification"></h3>

	</body>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/raphael-min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>